MONGODB_URI=example_mongodb_uri
GROQ_API_KEY=example_groq_api_key

# NextAuth.js configuration
NEXTAUTH_SECRET=secret_string_example
NEXTAUTH_URL=http://localhost:xxxx

# GitHub OAuth
GITHUB_ID=your_github_client_id
GITHUB_SECRET=your_github_client_secret

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Agora configuration
AGORA_APP_ID=your_app_id
AGORA_APP_CERTIFICATE=your_app_certificate

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

#Hugging Face API Key
HUGGINGFACE_API_KEY=hf_your_huggingface_api_key

#Brevo email API Key
BREVO_API_KEY=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
