MONGODB_URI=example_mongodb_uri
GROQ_API_KEY=example_groq_api_key

# NextAuth.js configuration
NEXTAUTH_SECRET=secret_string_example
NEXTAUTH_URL=http://localhost:xxxx

# GitHub OAuth
GITHUB_ID=your_github_client_id
GITHUB_SECRET=your_github_client_secret

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
